html, body {               
    height: 100%;    
}
h1, h2, h3, h4,h5,h6,.page-header-text {
    font-family: Trebuchet, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;    
}
.message-list-body>h1, .message-list-body>h2, .message-list-body>h3, .message-list-item>h4, .message-list-item>h5, .message-list-item>h6 {
    margin-top: 1.3em;
}
h3 {
    font-size: 1.3em;
    color: #2B547E;
    font-weight: bold;    
}
h4 {
    font-size: 1.2em;
    color: #2B547E;
    font-weight: bold;
}
h5
{
    font-size: 1.1em;
}
h6
{
    font-size: 1em;
}
img {
    max-width: 100%;
    height: auto;
}
td,th {
    padding: 4px;
    vertical-align: top;
}
option {
    padding: 4px 3px;
    border-radius: 3px;
}
footer {
    margin: 30px 0 12px;
    padding: 10px;
    border-top: 1px solid silver;
    font-size: 0.85em;
}

pre.no-container {
    border: none;
    padding: 0;
}

.table tr th {
    background: #636363; 
    color: white;   
}
    .table tr th a, .table tr th a:visited {
        text-decoration: none;
        color: cornsilk;
    }
code {
    color: #2a2a2a;
    background-color: #eee;
    font-weight: bold;
}
blockquote {
    font-size: 1.14em;
}

/* Font-awsome based radios and checkboxes */
input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
input[type=radio].with-font ~ label:before,
input[type=checkbox].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";  /* fa-circle-thin */
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #535353;
    width: 1.4em;   /* reduce bounce */
}
input[type=radio].with-font:checked ~ label:before,
input[type=checkbox].with-font:checked ~ label:before  {
    content: "\f00c";  /* fa-check */
    font-size: 1.2em;
    color: darkgreen;
    letter-spacing: 5px;
}
input[type=checkbox].with-font ~ label:before {        
    content: "\f096";  /* fa-square-o */
}
input[type=checkbox].with-font:checked ~ label:before {
    content: "\f046";     /* fa-check-square-o */   
    color: darkgreen;
}
input[type=radio].with-font:focus ~ label:before,
input[type=checkbox].with-font:focus ~ label:before,
input[type=radio].with-font:focus ~ label,
input[type=checkbox].with-font:focus ~ label
{                
    color: green; /* highlight both box and label */
}

/* BootStrap overrides */

.panel-heading {
    font-weight: bold;
}
.fa-green {
    color: green;
}
.fa-red {
    color: firebrick;
}
.fa-lightgreen {
    color: lightgreen;
}
/* Common CSS */

.right{ 
    text-align: right;
}

/* hidden and out of the document flow */
.hidden {
    display: none;
}
/* hidden display, but still part of document flow */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  background: whitesmoke;
}


/* hidden in below tablet and phone (-xs) sizes respectively */
.hidable, .hidable-xs {   }

/* flows child elements evenly to fill 100%*/
.responsive-container {
    display: flex;   
    flex-direction: row; 
    width: 100%;
}
.responsive-container>* {
    margin-right: 3px;
}
.responsive-container>*:last-child {
    margin-right: 0;
}
@media(max-width: 768px) {
    .responsive-container {
        flex-direction: column;        
    }
        .responsive-container>* {
            margin-right: 0;
            margin-top: 4px;
            width: 100% !important;
        }
}

/* West Wind Component Features */
.green-highlight {
    color: lightgreen;    
}
.error, .red-highlight, .binding-error {
    color: firebrick;
    font-weight: bold;
}
.error-inline {
    color: firebrick;
    display: inline;    
}
.binding-error {
    padding: 5px 0;
    font-size: 0.85em;
}

.title-bar {
    position: absolute;
    top: 6px;
    left: 65px !important;
    z-index: 11;
}
.title-bar.no-slide-menu {
    left: 5px;
}
.title-bar-icon {
    position: absolute;
    left: 3px;
    top: 3px;
    height: 60px; 
    float: left
}

.flex-master {        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-grow: 1;
        height: 100%;
    }
.banner {    
    flex: none;
    border: 0;    
    padding: 5px 12px;
    background: #434343;
    box-shadow: 3px 3px 6px #636363;
    color: white;
   
}
.banner-logo {
	height: 50px; 
	margin-right: 10px;
	display: block;
	float: left;
}

.banner.active {
    color: white;
    font-weight: bolder;
}
.banner nav {
    display: inline-block;
    margin-right: 3px;
    padding: 4px;
}

.banner nav a, .banner nav input {
    display: inline-block;
    padding: 9px 4px 6px;
    color: #eee;    
    text-decoration: none;
    border-bottom: solid 4px transparent;
}
.banner nav a img {   
    height: 23px;
    vertical-align: top;
}

.banner nav a:hover {
    color: white;
    background: #767676;
    text-decoration: none;
    border-bottom: solid 4px silver;
    border-radius: 2px;
}

.banner nav a.active, .banner nav a.selected {
    color: white;
    font-weight: bold;
    border-bottom: solid 4px orange;
    border-radius: 2px;
}
.menu-toolbar {
    flex: none;
    background: #585858;    
    background-image: url('../images/FloralBackground_darkgrey.gif');
    font-size: 1.2em;
    padding: 2px 8px;
    color: white;    
}
.menu-toolbar a, .menu-toolbar a:visited {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 4px;
}
.menu-toolbar a .fa {
    color: gold;
}
    .menu-toolbar a:hover .fa {
        color: steelblue;
    }
    .menu-toolbar a:hover{
        background: whitesmoke;
        color: #535353;        
    }
.page-content {    
    flex: 1 1 auto;   /* grow & shrink*/

    display: flex;
    flex-direction: row;                         
    
    overflow: auto;
}
.sidebar-left {
    flex: 0 0 auto; /* don't grow | shrink horizontally */
    width: 400px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
    white-space: normal;
    transition: width 0.2s ease-in-out;
    z-index: 100;
    -webkit-overflow-scrolling: touch;
    scrollbar-highlight-color: #f5f5f5;

    scrollbar-face-color: #ddd;
    scrollbar-shadow-color: #ccc;
    scrollbar-arrow-color: #999;
    /*scrollbar-face-color: #ccc;        
    scrollbar-darkshadow-color: #ddd;
   */
}
/* Chrome/Opera/mobile Webkit browsers */
    .sidebar-left::-webkit-scrollbar {
        width: 13px;        
    }

    .sidebar-left::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #e0e0e0;
        margin: 3px 0 3px 3px;        
        background: #fafafa;        
    }

    .sidebar-left::-webkit-scrollbar-thumb, .sidebar-left::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #e0e0e0;
        -webkit-box-shadow: inset 0 0 6px #aaa;
    }

.splitter {
    flex: 0 0 auto;
    background: url('../images/vsizegrip.png') center center no-repeat #535353;
    width: 13px;
    cursor: col-resize;
}

.sidebar-toggle {
    color: white;
    cursor: pointer;
    padding: 3px;
}
.main-content {    
    flex: 1 1 auto;  /* grow & shrink horizontally */          
    width: 100%;
    overflow: auto;    
    -webkit-overflow-scrolling: touch;     
}
/* IE 9/8 limited support */
.old-ie .sidebar-left {
    float: left;
    width: 35%;
}
.old-ie .main-content {
    float: left;
    width: 60%;
}
@media(max-width: 768px) {
    .old-ie .sidebar-left {
        width: 0;
    }
    .old-ie .main-content {
        width: auto;
        float: none;       
    }
}
/* entire content area between header and footer */
.content-pane {    
    padding: 0 10px;
    width: auto;
}

.slide-menu {    
    position: fixed;        
    top: 52px;
    left: 0;
    bottom: 0;
    width: 0;    
    background: #535353 ;
    background-image: linear-gradient(to bottom,  #535353 0, #707070 100%);
    transition: width 0.50s ease-out;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y: auto;
    z-index: 2000;    
}
.slide-menu.active {       
    width: 300px;   
    border: 1px #868686 solid;
    box-shadow: 2px 2px 4px #535353;    
}
.slide-menu a, .slide-menu a:visited, .slide-menu a:hover {
    text-decoration: none;
    color: white;
    display: block;    
    padding: 10px;
    overflow-x: hidden;
    border-bottom: 1px solid silver;
}
.slide-menu a.indented {
    margin-left: 25px;
}
.slide-menu a:hover {
    background: white;
    color: #535353;
}
.slide-menu a.disabled {
    background: transparent;    
    color: #ccc;
}
a.slide-menu-toggle-close, a.slide-menu-toggle-close:hover {
    background: transparent;
    color: white;
    width: 40px;
    font-size: 1.2em;
    padding: 3px;   
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 7px;
    border-bottom: 0 none !important;
}
a.slide-menu-toggle-open, a.slide-menu-toggle-open:hover {
    position: absolute;
    text-decoration: none;
    top: 20px;
    left: 10px;
    font-size: 1.2em;     
    color: white;
    margin-bottom: 10px;
    border-bottom: none;    
}
.slide-menu-toggle-open.no-slide-menu {
    display: none;
}



.hljs {
	font-size: 1em !important;
}

/* West Wind Main Page Layout */

#MainView {
    flex: 1 1 auto;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}
/*#MainView.fixed {
    position: absolute;
    left: 0;
    top: 60px;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    z-index: 11;        
    
}*/

.page-header-text {
    font-size: 1.5em;
    font-weight: bold;
    color:  #0092d0;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}
.separator {
    padding: 3px 0;
    margin: 10px 0 15px 0;
    border-bottom: solid 1px #e1e1e1;
}
.margin-top {
    margin-top: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}

.record-container {
    background: #f1f1f1;
    border: 1px solid silver;
}
.record-container>.row {
    padding: 8px 12px;
    margin-right: 0;
    margin-left: 0;
}   
    .record-container>.row.alternate {
        background: white;
    }
@media(max-width: 767px) {
    .container {
    	padding-left: 9px;
        padding-right: 6px;
    }
    .banner nav a span {
        display: none;
    }
    a.slide-menu-toggle-open,a.slide-menu-toggle-open:hover {
        display: block;
    }
    .hidable {
        display: none !important;
    }
    .record-container {
        border: none;
    }
        .record-container > .row {
            border: none;
        }
}
@media(max-width: 480px){
    .hidable-xs {
        display: none !important;
    }
}

.modal {
    position: absolute;
    top: 0;
    z-index: 1040;
}

.modal-dialog {
    margin: 2px auto;
}

.modal-header {
    padding: 15px 15px 5px;
}

.modal-body {
    padding: 10px 20px 5px 20px;
}

/* Forum List Styles */
    a.hover-dark {
        padding: 2px 6px;
        text-decoration: none;
        color: whitesmoke;
        border-radius: 2px;
        display: inline-block;
        margin-right: 6px;
    }
    a.hover-dark:hover {
        color: steelblue;
        background: whitesmoke;        
    }
    .forum-header{  
        background: #535353;
        color: white;
        margin: 0;
        padding: 5px;
        text-align: right;
        font-size: 1.4em;
        font-weight: bold;
    }
    .thread-title {
        padding: 5px 5px;
        color: firebrick;
        font-size: 1.5em;
        font-weight: bold;
         background: linear-gradient(to bottom, rgba(235,188,33,1) 0%,#fff4db 100%);
    }
    .forum-list-header {
        margin-bottom: 3px !important;
        background: #535353;
        color: white;
        margin: 0;
        padding: 6px 3px 6px 7px;        
        font-size: 1.25em;
        font-weight: bold;
        cursor: pointer;      
    }
    .forum-list-container {        
        
    }
    .message-item {        
        padding: 3px 10px 6px 8px;
        border-bottom: 1px solid #eee;
        margin: 0 5px
    }
     .message-item:hover {
                background: khaki;
                border-radius: 3px;
            }
     .message-item .pull-left {         
         margin-top: 5px; 
         font-size: 1.1em;
     }

    .message-header {
        font-weight: bold;
        margin-top: 5px;        
        font-size: 1.1em;
        padding-left: 30px;
        display: block
    }
    .message-detail {
        font-size: 0.8em;
        padding: 3px 30px;
    }

    .message-list-item {
        margin-bottom: 20px;                               
    }
    .message-list-header {
        background: #D0D0D0 ;
        padding: 10px;        
    }
    .gravatar {
        float: left;
        margin: 0 15px 0 0;        
        height: 71px;
        border-radius: 4px;
        box-shadow: 3px 3px 6px #535353;
    }
.message-list-body {
    padding: 20px 15px 10px;
    line-height: 1.52;
    font-size: 1.15em !important;
    font-family: 'Segoe UI', "Helvetica Neue",Helvetica,Arial,sans-serif;
}
    .message-list-body a {
        font-weight: bold;
    }
    .message-list-body img {
        display: block;
        max-width: 100%;
    }
    .message-toolbar {
        background: #535353;
        color: whitesmoke;
        padding: 5px 8px;
        box-shadow: 4px 4px 10px #535353;
    }
    .message-search-box {
        font-size: 0.5em;
        background: #737373;
        padding: 5px ;
        display: none;
    }
    .message-item.selected {
        background: #e3ebf5;
        border-radius: 2px;
    }
    #SortContainer .fa.selected {
        background: goldenrod;
        border-radius: 2px;
    }

    .quotedmessagetext {
        font-size: 0.825em;
        padding: 10px;
        background: #eee;
        margin: 15px 10px;
    }
    @media(max-width: 768px) {
        .sidebar-left {
            width: 0;
        }
        .message-list-body {
            padding: 10px 2%;
        }
       
    }
    @media(min-width: 1200px){
        .main-content{
            font-size: 1.1em !important;            
        }
        .message-list-body {
            padding: 15px 3.5%;
        }
        .gravatar {
            width: 90px;
            height: 90px;
        }
    }


.ace_editor, .ace_editor * {    
    font-weight: normal;
    letter-spacing: 0 !important;
    background: transparent;           
}
.ace_content {
    padding-top: 0 !important;
    padding-left: 0;                        
}    
.ace_cursor { 
    width: 2 !important;
    height: 1em !important;
}
.ace_text-input {
    margin: 0 !important;
}
.ace_strong {
    font-weight: bold;
}
.ace_emphasis {
    font-style: italic;
}
.ace_heading {
    font-weight: bold;
}

.ace_editor, .ace_editor * {    
    font-weight: normal;
    letter-spacing: 0 !important;
    background: transparent;           
}
.ace_content {
    padding-top: 0 !important;
    padding-left: 0;                        
}    
.ace_cursor { 
    width: 2 !important;
    height: 1em !important;
}
.ace_text-input {
    margin: 0 !important;
}
.ace_strong {
    font-weight: bold;
}
.ace_emphasis {
    font-style: italic;
}
.ace_heading {
    font-weight: bold;
}

.ace_button {
    color:#eee !important;    
}
.ace_searchbtn_close {
    color: white !important;
}
.ace_searchbtn_close:hover {
    background-color: brown !important;
}
.ace_searchbtn, .ace_replacebtn {
    font-size: 0.7em;
    font-family: 'Segoe UI'
}
.ace_search.right {
    border-radius: 0px 0px 0px 5px;
    border-right: 0 none;
    right: 0;
    padding: 10px;
    background-color: #444;
    border: 1px solid #222;
    color: white;
}
.ace_search {
    border-top: 0 none;
    max-width: 325px;
    overflow: hidden;
    margin: 0;
    padding: 4px;
    padding-right: 6px;
    padding-bottom: 0;
    position: absolute;
    top: 0px;
    z-index: 99;
    white-space: normal;    
}
.ace_search_field {
    background-color: #333 !important;
    color: white !important;
    border-right: 1px solid #cbcbcb;
    border: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 22px !important;
    outline: 0;
    padding: 2px 7px 7px 8px !important;
    width: 215px;
    margin: 0;
    font-family: 'Segoe UI';    
}
.ace_searchbtn.next, .ace_searchbtn.prev {
    width: 29px !important;    
}
.ace_search_options>span:hover {
    background: #777 !important;
    border-radius: 2px;
}




[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
