<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="~/touch-icon.png" />

    <link rel="icon" href="~/touch-icon.png" />
    <meta name="msapplication-TileImage" content="~/touch-icon.png">

    <link href="~/lib/bootstrap/dist/css/bootstrap.bundle.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/application.css" rel="stylesheet" />
    <style>
        .row li {
            margin-left: -10px;
        }
    </style>
</head>
<body>
    <div class="flex-master">

        <div class="banner">
            <!-- Icon and Company Logo -->
            <img class="title-bar-icon" src="../images/icon.png" />
            <div class="title-bar no-slide-menu">
                <a href="../">
                    <div style="float: left; margin: 4px 5px; line-height: 1.0">
                        <i style="color: #0092d0; font-size: 0.975em; font-weight: bold;">West Wind</i><br />
                        <i style="color: whitesmoke; font-size: 1.7em; font-weight: bold;">Message Board</i>
                    </div>
                </a>
            </div>

            <nav class="banner-menu-top float-right">
                <a href="~/">
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </nav>
        </div>


        <div id="MainView">
            <div class="container" style="margin-top: 15px;">

