/all.css
/all.min.css
/brands.css
/brands.min.css
/fontawesome.css
/fontawesome.min.css
/regular.css
/regular.min.css
/solid.css
/solid.min.css
/svg-with-js.css
/svg-with-js.min.css
/v4-shims.css
/v4-shims.min.css
